<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493635663578-8fcfj1jubq1pubb718jubbuc6gkrh2a2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493635663578-8fcfj1jubq1pubb718jubbuc6gkrh2a2</string>
	<key>API_KEY</key>
	<string>AIzaSyCzHzaS4hbiX0BRLAKbh0ttfBAPyJlh_Mk</string>
	<key>GCM_SENDER_ID</key>
	<string>493635663578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erenbagci.ToDoApp</string>
	<key>PROJECT_ID</key>
	<string>todoapp-b5437</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-b5437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493635663578:ios:1c6228774dac3fc86e17e3</string>
</dict>
</plist>